<mat-toolbar color="primary">
    <a [routerLink]="'/'" 
    mat-icon-button class="example-icon"
    aria-label="Example icon-button width menu icon">
    <mat-icon>menu_book</mat-icon></a>
    <span>Portal de exámenes</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'"
    mat-icon-button class="example-icon favorite-icon mr20 ml70"
    aria-label="Example icon-button width heart icon" id="login">
    Iniciar Sesión
    </a>
    <a [routerLink]="'/signup'"
    mat-icon-button class="example-icon favorite-icon mr20 ml70"
    aria-label="Example icon-button width heart icon" id="signup">
    Registrarse
    </a>
    
</mat-toolbar>