/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center{
    text-align: center;
}

.full-width{
    width: 100%;
    margin-top: 20px;
}

.full-width input{
    font-size: 20%;
}